.details-page{
    .sub-nav {
        @include items-layout-spacebetween;
    }

}

.contact-details {
    @include items-layout-center;
    .avatar {
        width: rem(120px);
    }
    p:nth-child(2) {
        font-size: rem($larger);
        color: $clr4
    }
    p:nth-child(3) {
        font-size: rem($large);
    }
}
