.contact-page {
    .add-contact-btn {
        border-radius: 50px;
        width: 50px;
        height: 50px;
        font-weight: 700;
        font-size: larger;
        position: sticky;
        top: 90%;
        left: 90%;
    }
    input {
        width: 100%;
    }
}
