/* Media queries Breakpoint mixins */

@mixin for-mobile-layout {
  @media (max-width: $break-narrow) {
    @content;
  }
}

@mixin for-normal-layout {
  @media (min-width: $break-normal) {
    @content;
  }
}

@mixin items-layout-spacebetween($align: flex-start) {
  display: flex;
  justify-content: space-between;
  align-items: $align;
}

@mixin items-layout-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin small-font {
  font-size: small;
  color: $clr3;
}
@mixin regular-font {
  font-family: Montserrat, sans-serif;
  font-size: rem(16px);
  color: $clr7;
}

