
@font-face {
    font-family: "Lobster";
    src: local("Lobster"), url("../../assets/fonts/Lobster-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Cabin-Regular";
    src: local("CabinCondensed-Regular"), url("../../assets/fonts/CabinCondensed-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Cabin-Bold";
    src: local("CabinCondensed-Bold"), url("../../assets/fonts/CabinCondensed-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"), url("../../assets/fonts/Montserrat.ttf") format("truetype");
}
