
// COLOR PALETTE
$clr1: #F19800;
$clr2: #402E32;
$clr3: #B8A99A;
$clr4: #00CCAF;
$clr5: #00947B;
$clr6: #514538;
$clr7: #FFEBCC;
$clr8: #939D0D;

// LAYOUT BREAKPOINTS
$break-narrow: 460px;
$break-normal: 640px;

//FONT
$larger: 32px;
$large: 25px;
$basic: 16px;
$smallest: small

